* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-head {
    background-color: #1F2937;
    padding-bottom: 50px;
}

.header {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.head-logo {
    display: flex;
    align-items: center;
    margin-left: 300px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: 300px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    gap: 16px;
}

.hero-img {
    width: 400px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

.hero-left {
    display: flex;
    flex-direction: column
}

.hero-right {
    display: flex;
}

.hero-p {
    width: 400px;
}

button {
    text-align: center;
    font-size: 18px;
    width: 90px;
    background-color: lightgrey;
    margin-top: 10px;
    color: #0062ff;
    padding: 5px;
    border: 3px solid lightcoral;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
    text-align: left;
}

a, p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Info Section */

.info-header {
    margin-top: 80px;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 200px;
    height: auto;
}

.figcaption {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 200px;
}

/* Quote Section */

.quote-section {
    text-align: center;
    width: 100%;
    background-color: #E5E7EB;
    padding: 100px 0;
    margin-bottom: 200px;
}

.quote-text {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.author {
    margin-top: 30px;
    text-align: right;
    font-weight: 900;
    margin-right: 250px;
}

/* CTA Section */
 .cta {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    margin: auto;
    gap: 700px;
    padding: 75px;
    color: white;
    border-radius: 10px;
    margin-bottom: 200px;
}

 .left-cta {
    display: flex;
    flex-direction: column;
}

 .right-cta {
    display: flex;
}

 .cta-btn {
    background-color: #3882F6;
    color: white;
    padding: 20px;
    width: 250px;
    border: 4px solid white;
    border-radius: 10px;
    font-weight: 700;
}

/* Footer Section */

.footer {
    background-color: #1F2937;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}

.footer-text {
    font-weight: 600;
    color: white;
    font-size: 18px;
}